div.container {
    width: 100%;
    border: 1px solid gray;
}

nav {
    float: left;
    width: 400px;
    height: 500px;
    margin: 0;
    padding: 1em;
}
 

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    height: 500px;
    width: 500px;
    
}
.mua{
	background: red;
	padding: : 7px 13px;
	border:none;
	outline: none;
	border-radius: :0 5px 5px 0 ;
	color: white;
	font-size: 18px;
	font-weight: 500;}

a{color: red;
font-size: 30px;
font-weight: bold ;}			
p{
	font-weight: center;
	font-size: 18px;
	color: green;
	font-weight: bold;
}
.button button{
	width: 250px;
	height: 70px;
	font-size: 30px;
	font-weight: bold;
	color: red;
	margin-left: 135px;
	border-radius: 20px 20px 20px 20px;


}
.button button:hover{
	background:#FF9966;
	color: white;

}
.you iframe{
	margin-left: 230px;
}
.you p{margin-left: 290px;
font-size: 30px;}





.login{
	width: 400px;
	height: 400px;
	border: 1px solid gray;
	text-align: center;
	margin-left: 430px;
	margin-top: 50px;
	background-color: #B5B5B5;
}

.login h4{font-family: times new roman;
font-size: 35px;}
.login input{
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 7px;
}
.login button{
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	background-color: red;
	border-radius: 3px 3px 3px 3px;

}

